space_invaders_raylib/.vs/
raylib_space_invaders/.vs/space_invaders_raylib/v15/

monogame_space_invaders/Desktop/\.vs/
monogame_space_invaders/Desktop/obj/
monogame_space_invaders/Desktop/bin/

monogame_space_invaders/UWP/\.vs/
monogame_space_invaders/UWP/obj/
monogame_space_invaders/UWP/bin/

unity3d-space-invaders/\.vs/

sfml2-space-invaders/Debug/
sfml2-space-invaders/\.vs/

ue4_space_invaders/Saved/
ue4_space_invaders/Intermediate/
ue4_space_invaders/Build/
ue4_space_invaders/Binaries/
ue4_space_invaders/\.vs/
ue4_space_invaders/Bin/
sdl-space-invaders/\.vs/

sdl-space-invaders/Debug/

monogame_space_invaders-uwp/obj/

monogame_space_invaders-uwp/\.vs/

monogame_space_invaders-uwp/bin/

monogame_space_invaders-desktop/obj/

monogame_space_invaders-desktop/bin/

monogame_space_invaders-desktop/\.vs/

monogame_space_invaders/UWP/Content/

monogame_space_invaders/UWP/Properties/

monogame_space_invaders/Desktop/Content/

wii-space-invaders/

wii_space_invaders/source/\.vscode/

unity3d-space-invaders/Library/webgl_cache/

unity3d-space-invaders/HTML5/

unity3d-space-invaders/obj/

unity3d-space-invaders/\Android/

unity3d-space-invaders/Win64/

unity3d-space-invaders/Library/

sdl2-space-invaders/\.vs/

sdl2-space-invaders/Debug/

monogame_space_invaders-fsharp/obj/

monogame_space_invaders-fsharp/bin/

monogame_space_invaders-fsharp/\.vs/

monogame_space_invaders-fsharp/Content/obj/

monogame_space_invaders-fsharp/Content/bin/

unity3d-space-invaders/Temp/

psp-space-invaders/rd/Thumbs\.db

monogame_space_invaders-desktop/Content/bin/

monogame_space_invaders-desktop/Content/obj/

sdl2-cpp-space-invaders/Debug/

sdl2-cpp-space-invaders/\.vs/

dreamcast-space-invaders/dc_dev/PVRViewer\.ini

raylib_space_invaders/\.vs/

raylib_space_invaders/Debug/

raylib_space_invaders/space_invaders_raylib/Debug/

dreamcast-space-invaders/\.vscode/
glfw3-space-invaders/.vs
glfw3-space-invaders/Debug

glfw3-space-invaders/Release/

phaser-space-invaders/\.vscode/

phaser-space-invaders/\.idea/

phaser-space-invaders/phaser-space-invaders\.zip
phaser-space-invaders/phaser-space-invaders\.idea
phaser-space-invaders/phaser-space-invaders\.vscode

phaser-space-invaders/\.idea/

phaser-space-invaders/\.vscode/

phaser-space-invaders/phaser-space-invaders\.zip

unity3d-space-invaders/Android/

experimental/monogame_space_invaders-fsharp/obj/

experimental/monogame_space_invaders-fsharp/.vs/

experimental/monogame_space_invaders-fsharp/bin/

experimental/python3-space-invaders/.vscode/

experimental/python3-space-invaders/__pycache__/

python3-space-invaders/__pycache__/

python3-space-invaders/.vscode/

experimental/wii_space_invaders/source/.vscode/

*.BAK

*.bak

experimental/dbpro_space_invaders/Space Invaders.exe

experimental/3dgs_space_invaders/rd/game.$$M

experimental/3dgs_space_invaders/rd/game.$$w

experimental/3dgs_space_invaders/rd/game.raw

experimental/3dgs_space_invaders/rd/game.wed
