space_invaders_raylib-master/.vs/
raylib_space_invaders-master/.vs/space_invaders_raylib/v15/

monogame_space_invaders-master/Desktop/\.vs/
monogame_space_invaders-master/Desktop/obj/
monogame_space_invaders-master/Desktop/bin/

monogame_space_invaders-master/UWP/\.vs/
monogame_space_invaders-master/UWP/obj/
monogame_space_invaders-master/UWP/bin/

unity3d-space-invaders/\.vs/

sfml2-space-invaders-master/Debug/
sfml2-space-invaders-master/\.vs/

lwjgl3-space-invaders-master/

ue4_space_invaders/Saved/
ue4_space_invaders/Intermediate/
ue4_space_invaders/Build/
ue4_space_invaders/Binaries/
ue4_space_invaders/\.vs/
ue4_space_invaders/Bin/
sdl-space-invaders-master/\.vs/

sdl-space-invaders-master/Debug/

monogame_space_invaders-uwp-master/obj/

monogame_space_invaders-uwp-master/\.vs/

monogame_space_invaders-uwp-master/bin/

monogame_space_invaders-desktop-master/obj/

monogame_space_invaders-desktop-master/bin/

monogame_space_invaders-desktop-master/\.vs/

monogame_space_invaders-master/UWP/Content/

monogame_space_invaders-master/UWP/Properties/

monogame_space_invaders-master/Desktop/Content/

wii-space-invaders-master/

wii_space_invaders_master/source/\.vscode/

unity3d-space-invaders/Library/webgl_cache/

unity3d-space-invaders/HTML5/

unity3d-space-invaders/obj/

unity3d-space-invaders/Win64/

unity3d-space-invaders/Library/

sdl2-space-invaders-master/\.vs/

sdl2-space-invaders-master/Debug/

monogame_space_invaders-fsharp-master/obj/

monogame_space_invaders-fsharp-master/bin/

monogame_space_invaders-fsharp-master/\.vs/

monogame_space_invaders-fsharp-master/Content/obj/

monogame_space_invaders-fsharp-master/Content/bin/

unity3d-space-invaders/Temp/

psp-space-invaders-master/rd/Thumbs\.db

monogame_space_invaders-desktop-master/Content/bin/

monogame_space_invaders-desktop-master/Content/obj/

sdl2-cpp-space-invaders-master/Debug/

sdl2-cpp-space-invaders-master/\.vs/

dreamcast-space-invaders-master/dc_dev/PVRViewer\.ini

raylib_space_invaders-master/\.vs/

raylib_space_invaders-master/Debug/

raylib_space_invaders-master/space_invaders_raylib/Debug/

dreamcast-space-invaders-master/\.vscode/
